@page
@using Extensions
@model FindWishModel
@{
	ViewData["Title"] = "Find Wish";
}

<nav class="navbar navbar-inverse">
	<div class="container">
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a asp-page="/Wish/FindWish"
				       asp-page-handler="Popular">Populaire</a></li>
				<li><a asp-page="/Wish/FindWish"
						asp-page-handler="TopRated">Mieux noté</a></li>
				<li><a asp-page="/Wish/FindWish"
				       asp-page-handler="Upcoming">Bientôt</a></li>
				<li><a asp-page="/Wish/FindWish"
				       asp-page-handler="NowPlaying">Au ciné</a></li>
			</ul>
		</div>
	</div>
</nav>

	<div class="margin-10percent">
	
		<div>
			<section class="search">
				<form method="get" >
					<input type="hidden" name="handler" value="MoviesByName" />
					<input class="input-search"
						   name="NameMovie"
						   type="text"
						   placeholder="Rechercher un film"
					       role="textbox"/>
				</form>
			</section>
		</div>

		<h2>@Model.TitrePage</h2>

		<form method="post">
			@Html.AntiForgeryToken()

			<div class="flex">

				@foreach (var item in Model.ListMovies)
				{
					<div class="card">
						<div class="test">
							@if (string.IsNullOrEmpty(item.UrlAffiche))
							{
								<img src="../images/VideoInconnu.jpg" />
							}
							else
							{
								<img id="imageVideo" src="@Url.Content(@item.UrlAffiche)" />
							}
						</div>

						<div class="display-block">
							<div class="info-movie">
								<p id="title">
									<span class="title display-block">@item.Titre</span>
									<span class="original-title display-block">@item.OriginalTitle</span>
								</p>

								<p id="description" class="overview">@item.Description</p>
							</div>

							<div>
								<p class="top-separator text-left">
									<a target="_blank" href="@Url.Content("https://www.themoviedb.org/movie/" + @item.IdVideoTmDb + "?language=fr-FR")">More info</a>

									<button type="button"
									        onclick="@item.ToAjaxMethodAddOrRemoveMovie()"
									        id="id_@item.IdVideoTmDb"
									        class="btn @item.ToClassButton()"
									        style="float: right;">
										@item.ToTextContent()
									</button>
								</p>
							</div>
						</div>
					</div>
				}
			</div>
			
			<div class="text-center">
				<a asp-page="/Wish/FindWish"
				   asp-page-handler="@Model.Handler"
				   asp-route-attendeeid="@Model.PreviousPage"
				   class="btn btn-primary btn-lg @Model.HavePreviousPage"
				   role="button">
					Précédent
				</a>
				<a asp-page="/Wish/FindWish"
				   asp-page-handler="@Model.Handler"
				   asp-route-attendeeid="@Model.NextPage"
				   class="btn btn-primary btn-lg @Model.HaveNextPage"
				   role="button">
					Suivant
				</a>
			</div>

		</form>
	</div>




















	@*<div>
			<form id="fix-incorrect-match-form">
				<div>
					<div class="row">
						<div class="col-md-4">
							<label for="titrevideo">
								<span class="glyphicon .glyphicon-film"></span>
								Titre à rechercher
							</label>
							<input type="text"
								   class="form-control"
								   id="titrevideo">

							<button type="button"
									class="btn btn-primary"
									id="idBtnSearchVideo"
									onclick="getMoviesByName()">
								<span>Rechercher</span>
							</button>
						</div>
					</div>

					<div id="resultSearchVideo" class="flex"></div>
				</div>
			</form>
		</div>*@
