@page
@using Extensions
@model WebAppServer.Pages.Wish.WishListModel
@{
	ViewData["Title"] = "WishList";
}

<div class="margin-10percent">

	@if (this.User.IsInRole("Manager") || this.User.IsInRole("Admin"))
	{
	<h2>Liste de souhaits de tous les utilisateurs</h2>
	}
	else
	{
	<h2>Ma liste de souhaits</h2>
	}

	<a asp-page="/Wish/FindWish">Find movies</a>

	<form method="post">
		@Html.AntiForgeryToken()

		<div class="flex">

			@foreach (var item in Model.Wishes)
			{
				<div class="card">
					<div class="test">
						@if (string.IsNullOrEmpty(item.Movie.UrlAffiche))
						{
							<img src="../images/VideoInconnu.jpg" />
						}
						else
						{
							<img id="imageVideo" src="@Url.Content(@item.Movie.UrlAffiche)" />
						}
					</div>

					<div class="display-block">
						<div class="info-movie">
							<p id="title">
								<span class="title display-block">@item.Movie.Titre</span>
								<span class="original-title display-block">@item.Movie.OriginalTitle</span>
							</p>

							<p id="description" class="overview">@item.Movie.Description</p>
						</div>

						<div>
							<p class="top-separator text-left">
								<a target="_blank" href="@Url.Content("https://www.themoviedb.org/movie/" + @item.Movie.IdVideoTmDb + "?language=fr-FR")">More info</a>

								<button type="button"
										onclick="@item.Movie.ToAjaxMethodAddOrRemoveMovie()"
										id="id_@item.Movie.IdVideoTmDb"
										class="btn @item.Movie.ToClassButton()"
										style="float: right;">
									@item.Movie.ToTextContent()
								</button>
							</p>
						</div>
					</div>
				</div>
			}
		</div>
	</form>
</div>