@page
@model WebAppServer.Pages.DetailEpisodeSerieModel
@{
    ViewData["Title"] = "DetailEpisodeSerie";
}


<div class="container">
	
	<h2>@Model.Serie.TvShow.Name</h2>
	
	<div class="flex-no-wrap">
		<div>
			@if (string.IsNullOrEmpty(Model.Season.PosterPath))
			{
				<img src="images/VideoInconnu.jpg" />
			}
			else
			{
				<img id="imageVideo" class="width-200" src="@Url.Content("https://image.tmdb.org/t/p/w370_and_h556_bestv2" + Model.Season.PosterPath)" />
			}

		</div>

		@if (string.IsNullOrEmpty(Model.Season.Overview))
		{
			<div class="no-overview-serie">Aucune description... pour l'instant.</div>
		}
		else
		{
			<div class="overview-serie">@Model.Season.Overview</div>
		}
	</div>

	<hr class="separator-black" />
	
	<div class="flex">
		@foreach (var episode in Model.Episodes)
		{
		<div class="containerSerie imageEpisodeSerie">

			<a>
				@if (string.IsNullOrEmpty(episode.StillPath))
				{
					<img src="images/VideoInconnu.jpg" class="width-150" />
				}
				else
				{
					<img id="imageVideo" class="width-150" src="@Url.Content("https://image.tmdb.org/t/p/w370_and_h556_bestv2" + episode.StillPath)" />
				}
			</a>

			<div class="text-color-black">@episode.Name</div>
			<div class="text-color-black">Episode @episode.EpisodeNumber</div>
		</div>
		}
	</div>
	

</div>



