@page
@model WebAppServer.Pages.MovieModel
@{
	ViewData["Title"] = "Movie";
}

<h2>Movie</h2>


<div class="flex">

	@foreach (var item in Model.Movies)
	{
		<div class="card">
			<div class="test">
				<img src="@Url.Content("https://image.tmdb.org/t/p/w370_and_h556_bestv2" + @item.MovieTmDb.PosterPath)" />
				<div class="meta" data-role="tooltip">
					<a  href="@Url.Action("Download", "Movies", new { item.Id})">
						<span class="glyphicon glyphicon-download-alt"></span>
					</a>
				</div>
			</div>

			<div class="info">
				<p class="title">
					@item.MovieTmDb.Title
				</p>

				<p class="overview">@item.MovieTmDb.Overview</p>
			</div>

		</div>
	}

</div>