@page "/"

@using BlazorZeus.Composants;

<div class="margin-5percent">

	<h3>Films récemments ajoutés</h3>

	<div class="flex">

		@foreach (var itemMovie in MoviesOrdered)
		{
			@*<div class="imagePlusTitre">
				<div class="test">
					@if (string.IsNullOrEmpty(itemMovie.MovieTmDb.PosterPath))
					{
						<img src="images/VideoInconnu.jpg" />
					}
					else
					{
						<img id="imageVideo" src="@("https://image.tmdb.org/t/p/w370_and_h556_bestv2" + @itemMovie.MovieTmDb.PosterPath)" />
					}
				</div>

				<div class="infoDate">
					@itemMovie.DateAdded.ToString("d")
				</div>

				<p class="title" id="title">
					@itemMovie.MovieTmDb.Title
				</p>
			</div>*@


			<CardAffiche Titre="@itemMovie.MovieTmDb.Title"
						DateAjout="@itemMovie.DateAdded"
						UrlImage="@itemMovie.MovieTmDb.PosterPath" />
		}




	</div>

	@*<hr class="separator-black" />

	<h3>Dessins Animes recemment ajoutes</h3>

	<div class="flex">

		@foreach (var itemMovie in AnimesOrdered)
		{
			<div class="imagePlusTitre">
				<div class="test">
					@if (string.IsNullOrEmpty(itemMovie.MovieTmDb.PosterPath))
					{
						<img src="images/VideoInconnu.jpg" />
					}
					else
					{
						<img id="imageVideo" src="@("https://image.tmdb.org/t/p/w370_and_h556_bestv2" + @itemMovie.MovieTmDb.PosterPath)" />
					}
				</div>

				<div class="infoDate">
					@itemMovie.DateAdded.ToString("d")
				</div>

				<p class="title" id="title">
					@itemMovie.MovieTmDb.Title
				</p>
			</div>
		}
	</div>*@


</div>
