@page "/movies"

@attribute [Authorize(Roles = "Admin, Manager, Member")]

@using BlazorZeus.Composants

<h3>Films</h3>

<div class="zeusflex">

	@foreach (var item in MoviesCollection)
	{
		<CardWithDetail Titre="@item.MovieTmDb.Title"
						Overview="@item.MovieTmDb.Overview"
						PathPoster="@item.MovieTmDb.PosterPath"
						IdFilm="@item.MovieTmDb.Id"
						Resolution="@item.MovieInformation.Resolution"
						Size="@item.MovieInformation.Size"
						Link="@(MyNavigationManager.BaseUri + "api/movies/" + item.Id.ToString())"
						OnClickChangeMovieCallback="@(e => ChangeMovie(e, item))" />
	}

</div>

<TemplatedDialog Show="ShowConfigureMovie">
	<ConfigureMovie NomDuFichier="@_movieToChange.MovieInformation.FileName"
					ListFilms="_searchVideos"
					SelectMovie="SelectMovie"
					GetNouveauTitre="GetNewTitle"
					OnCancel="CloseConfigure"
					OnChangeQuality="ChangeQuality"/>
</TemplatedDialog>

@code {

}
