@using BlazorZeus.ViewModel

@page "/movies"
@inject IMoviesViewModel viewModel  
@attribute [Authorize(Roles = "Admin, Manager, Member")]

@using BlazorZeus.Composants

<h3>Films</h3>

<div class="zeusflex">

	@foreach (var item in viewModel.MoviesCollection)
	{
		<CardWithDetail Titre="@item.MovieTmDb.Title"
						Overview="@item.MovieTmDb.Overview"
						PathPoster="@item.MovieTmDb.PosterPath"
						IdFilm="@item.MovieTmDb.Id"
						Resolution="@item.MovieInformation.Resolution"
						Size="@item.MovieInformation.Size"
						Link="@(viewModel.MyNavigationManager.BaseUri + "api/movies/" + item.Id.ToString())"
						OnClickChangeMovieCallback="@(e => viewModel.ChangeMovie(item))" />
	}

</div>

<TemplatedDialog Show="viewModel.ShowConfigureMovie">
	<ConfigureMovie NomDuFichier="@viewModel.MovieToChange.MovieInformation.FileName"
					ListFilms="viewModel.SearchVideos"
					SelectMovie="viewModel.SelectMovie"
					GetNouveauTitre="viewModel.GetNewTitle"
					OnCancel="viewModel.CloseConfigure"
					OnChangeQuality="viewModel.ChangeQuality"/>
</TemplatedDialog>

@code {

}
